.html{
    box-sizing:border-box;
}
*,*:before,*after{
    box-sizing:inherit;
}
body{
   background-image: url(https://scontent-tpe1-1.xx.fbcdn.net/v/t39.30808-6/261976263_1496733740707772_1157338028893619911_n.jpg?_nc_cat=104&_nc_rgb565=1&ccb=1-5&_nc_sid=730e14&_nc_ohc=iDPX1HNC408AX801NYn&_nc_ht=scontent-tpe1-1.xx&oh=d841e54761a74a69ad26ec83a552d5a9&oe=61AFAB64);
   background-repeat:no-repeat;
   background-color: #7cc482;  
   background-size:  1280px 1653px;
   margin: 0 auto;
   background-position:top;
   width: 100%;
}
header{
    margin-left: 120px;
}
.header-nav{
    display: flex;
    list-style: none;
    padding-top: 8px;
}
.header-nav li{
    display: inline-block;
    padding-right: 30px;
}
.nav-text{
    text-decoration: none;
    font-size: 24px;
    color:#705A4F;
    font-weight: bold;
}
.icon-area{
    display: flex;
    height: 10%;
}
.icon-img{
    transform: scale(0.5);
    margin-left: 35%;
    margin-top: 20px;
}
.information{
    display: flex;
    position: absolute;
    left: 140px;
    bottom: -70px;
}
.main-img-back{
   margin-left: 35px;
   margin-top: 90px;
   height: 90%;
}
.main-img-front{
    z-index: 1;
    margin-left: -335px;
    margin-top: 30px;
}
.content-area{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.content-area ul{
    list-style: none; 
    padding: 50px;
    margin-left: 90px;
    margin-top: 45px;
    width: 70%;
    height: 120%;
    background-color: #fff;
    opacity: 70%;
}
.content-area ul li{
    padding: 10px;
    margin-left: 10px;
}
.text{
    display: flex;
    opacity: 100%;
    color:black;
    font-size: 24px;
    font-weight: bold;
}
.news{
    position: absolute;
    z-index: 1;
    color: #fff;
    background-color: #705A4F;
    text-align: center;
    width: 105px;
    height: 40px;
    padding: 10px;
    font-size: 36px;
    margin-top: 25px;
    margin-left: 290px;
}
.more{
    position: absolute;
    z-index: 1;
    color: #fff;
    line-height: normal;
    background-color: #705A4F;
    text-align: center;
    align-content: center;
    width: 88px;
    height: 42px;
    padding-top: 10px;
    font-size: 24px;
    margin-top: 320px;
    margin-left: 305px;
    border-radius: 105px;
}
.all-item{
    display: flex;
    margin-top: 410px;
    margin-left: 200px;
}
.intro-text{
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    text-align: center;
    height: 180px;
    padding: 10px;
    padding-left: 5px;
    font-size: 36px; 
    color: #fff;
    background-color: #705A4F;
}
.item-img-area{
    display: flex;
    margin-left: 30px;
}
.item-img{
    width: 303px;
    height: 209px;
    margin-right: 40px;
}
.item-img-area2{
    display: flex;
    margin-top: 250px;
    margin-left: -1010px;
}
.item-img2{
    display: flex;
    width: 303px;
    height: 209px;
    margin-right: 40px;
}
footer{
    margin-bottom: 50px;
}
.footer-img{
    width: 116px;
    height: 116px;
    margin-left: 150px;
}
.footer-text1{
    font-size: 36px;
    margin-left: 150px;
}
.footer-text2{
    font-size: 18px;
    font-weight: bold;
    margin-left: 30px;
}
